{% extends "transaktioner/base.html" %}
{% load staticfiles %}
{% load humanize %}

	{% block sidebar %}

	<h1>Kategorier</h1>

	<ul>
		{% for kategori in kategorier %}
		<li><a href="{% url 'transaktioner:kategori' kategori=kategori%}">{{kategori}}</a></li>
		{% endfor %}
	</ul>

	<h1>Tid</h1>
	<ul>
		<li><a href="?dagar=7">En vecka</a></li>
		<li><a href="?dagar=30">En månad</a></li>
		<li><a href="?dagar=60">Två månader</a></li>
	</ul>

	

	{% endblock %}

	{% block content %}

			Datum: {{ test }}

			<table id="transaktioner" class="tablesorter">
				<thead>
					<tr>
						<th width="100">Reskontradatum</th>
						<th width="100">Transaktionsdatum</th>
						<th>Text</th>
						<th>Belopp = {{ summa|floatformat|intcomma }}</th>
						<th>Kommentar</th>
						<th>Kategori</th>
						<th>Underkategori</th>
					</tr>
				</thead>
				<tbody>
			{% for rad in last_month_list %}
					<tr>
						<td><a href="{% url 'transaktioner:detail' pk=rad.pk %}">{{ rad.reskontradatum|date:"Y-m-d" }}</a></td>
						<td>{{ rad.transaktionsdatum|date:"Y-m-d" }}</td>
						<td>{{ rad.text }}</td>
						<td>{{ rad.belopp }}</td>
						<td>{{ rad.kommentar }}</td>
						<td><a href="{% url 'transaktioner:kategori' kategori=rad.kategori %}">{{rad.kategori}}</a></td>
						<td>{{ rad.underkategori }}</td>
					</tr>
			{% endfor %}
				</tbody>
			</table>

			Summa = {{ summa|floatformat|intcomma }} kr

	{% endblock %}
